<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a ui-sref="dashboard">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Roles Militares</li>
</ol>
<div ui-view="addView">   
</div>
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-clipboard-list"></i>
        Roles Militares                
        <a ui-sref=".addRol"><button type="button" id="botonAgregar" class="btn btn-success">Agregar +</button></a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody> 
                    <tr ng-repeat="rol in rolesMilitares| orderBy : 'idRol'">
                        <td>{{rol.nombreRol}}</td>  
                        <td>
                            <button class="btn btn-danger" ng-click="eliminar(rol.idRol)">Eliminar</button>
                            <button class="btn btn-warning" ui-sref="listarRoles.editRol({rolMilitar:rol.idRol})">Actualizar</button>
                        </td>
                    </tr>
                </tbody >
                <tfoot>
                    <tr>
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Actualizado: {{fecha}}</div>
</div>
